/* stylelint-disable font-family-name-quotes */
.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero {
    position: relative;
    padding: 40px 24px;
    min-height: 300px;
    background-color: black;
}

.hero h1,
.hero h2,
.hero p {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.hero h1 {
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 134%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #009ad8;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    margin-top: 5rem;
}

.hero h2 {
    font-family: "ZillaSlab-RegularItalic", Helvetica, Arial, sans-serif;
    font-size: 4.5rem;
    line-height: 4.8rem;
}

.hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (width >= 900px) {
    .hero {
        padding: 40px 32px;
    }
}
