/* stylelint-disable font-family-name-quotes */
/* stylelint-disable max-line-length */
@font-face {
    font-family: roboto-condensed;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Roboto/roboto-condensed-bold.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Roboto/roboto-bold.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Roboto/roboto-medium.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto/roboto-regular.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Open Sans */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../fonts/aplnr/OpenSans/OpenSans-Italic.ttf") format("ttf");
}

/* Zilla Slab */
@font-face {
    font-family: "ZillaSlab-Regular";
    src: url("../fonts/ZillaSlab/ZillaSlab-Regular.woff") format("woff");
}

@font-face {
    font-family: "ZillaSlab-MediumItalic";
    src: url("../fonts/ZillaSlab/ZillaSlab-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "ZillaSlab-RegularItalic";
    src: url("../fonts/ZillaSlab/ZillaSlab-RegularItalic.woff") format("woff");
}

@font-face {
    font-family: "ZillaSlab-SemiBold";
    src: url("../fonts/ZillaSlab/ZillaSlab-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "ZillaSlab-SemiBoldItalic";
    src: url("../fonts/aplnr/ZillaSlab/ZillaSlab-SemiBoldItalic.woff") format("woff");
}
